<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SWAPI - The Star Wars FE</title>
    <%- head.link.toString() %>
    <%- styles %>
  </head>
  <body>
    <div id="root"><%- application %></div>

    <script>
      window.__STATE__ = '<%- state %>';
    </script>
    <%- scripts %>
  </body>
</html>
