<!DOCTYPE html>
<html>
  <head>
    <%- head.title.toString() %>
    <%- head.meta.toString() %>
    <%- head.link.toString() %>
    <%- styles %>
  </head>
  <body>
    <div id="root"><%- application %></div>

    <%- cssHash %>
    <%- preloadedState %>
    <%- scripts %>
  </body>
</html>
